:root {
    font-size: 18px;
}

* {
    font-family:
        JetBrains Mono,
        monospace;
}

body {
    nav {
        #logo {
            font-weight: bold;

            #ip {
                font-size: 1.2rem;
            }
        }
    }

    main {
        article {
            header {
                font-size: 1.5rem;
                font-weight: bold;
                font-style: italic;
            }

            .info-box {
                &#disk.layouts {
                    display: grid;
                    grid-template-columns: 1fr, 1fr;
                }

                padding-bottom: 5px;
                border-bottom: 1px dotted mediumpurple;

                gap: 1rem;

                .label {
                    font-size: 1rem;
                }

                .info {
                    text-align: right;
                }
            }
        }
    }

    footer {
        text-align: center;
    }
}
